{
  "rules": {
    "no-alert": 0
  },
  "globals": {
    "classNames": false,
    "React": false,
    "ReactDOM": false,

    "ReferComp": false,
    "ReferList": false,
    "ReferTable": false,
    "ReferTreeTable": false,

    "bootstrapUtils": false,

    "mountNode": false

  }
}
